@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

p {
    padding: 0;
    margin: 0;
}

.formContainer {
    background-color: #a99dcc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
        background-color: #fff;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            font-weight: bold;
            font-size: 24px;
            color: #4b4857;
        }

        .title {
            font-size: 12px;
            color: #4b4857;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                width: 250px;
                padding: 15px;
                border: none;
                border-bottom: 1px solid #a79fbe;

                &::placeholder {
                    color: rgb(175, 175, 175)
                }
            }

            label {
                display: flex;
                width: 140px;
                align-items: center;
                font-size: 12px;
                color: #a79fbe;
                cursor: pointer;

                img {
                    width: 50px;
                    margin-right: 10px;
                }
            }

            button {
                border: none;
                color: white;
                background-color: #a99dcc;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
            }
        }

        p {
            font-size: 12px;
            color: #a79fbe;
            margin-top: 10px;
        }
    }
}

.home {
    background-color: #a99dcc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include tablet {
            width: 90%;
        }

        .sidebar {
            position: relative;
            flex: 1;
            background-color: #515f8d;


            .navbar {
                display: flex;
                align-items: center;
                background-color: #484c81;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo {
                    font-weight: bold;

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img {
                    background-color: #ddddf7;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                button {
                    color: #ddddf7;
                    background-color: #a99dcc;
                    font-size: 12px;
                    border: none;
                    cursor: pointer;
                    padding: 5px;

                    @include tablet {
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }

            .search {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid gray;

                .searchForm {
                    padding: 10px;

                    input {
                        border: none;
                        background-color: transparent;
                        color: white;
                        outline: none;

                        @include mobile {
                            max-width: 80px;
                        }

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                color: white;
                gap: 10px;
                cursor: pointer;

                @include mobile {
                    justify-content: center;
                }

                &:hover {
                    background-color: #484c81;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-weight: 500;
                        font-size: 18px;
                    }

                    p {
                        margin-top: 5px;
                        font-size: 14px;
                        color: lightgray;
                    }

                    @include mobile {
                        display: none;
                    }
                }
            }
        }

        .chat {
            flex: 2;
            border-left: 1px solid lightgray;

            .chatInfo {
                height: 50px;
                background-color: #484c81;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: lightgray;

                .chatIcons {
                    display: flex;
                    gap: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        transition: all 0.2s;

                        &:hover {
                            filter: brightness(0) saturate(100%) invert(54%) sepia(14%) saturate(1130%) hue-rotate(106deg) brightness(100%) contrast(83%);
                        }
                    }
                }

            }

            .messages {
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: gray;
                        font-weight: 300;

                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: #fff;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: rgb(54, 152, 165);
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }


                    }
                }
            }

            .input {
                background-color: white;
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 18px;

                    &::placeholder {
                        color: lightgray;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    button {
                        color: white;
                        background-color: #a99dcc;
                        font-size: 14px;
                        border: none;
                        cursor: pointer;
                        padding: 10px 15px;
                        border-radius: 5px;
                    }
                }

            }
        }
    }
}